@media(min-width: 769px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -56px;
    }

    body {
        overflow: hidden;
    }
}