.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding: 0 1em 1em 1em;
}

.adressContainer {
    gap: 1em;
    width: 100%;
}

.checkbox {
    height: 10em;
    display: flex;
    justify-content: space-between;
}

@media(min-width: 769px) {
    .adressContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}

@media(min-width: 1023px) {
    .form {

        width: 500px;

    }
}