.container {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.register {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.register a {
    font-weight: 700;
    color: #4caa66;
}

@media(min-width: 1023px) {
    .container {
        width: 500px;
    }
}