.container {
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    font-size: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.future {
    color: #4caa66;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.register {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.register a {
    font-weight: 700;
    color: #4caa66;
}

@media(min-width: 769px) {
    .container h1 {
        font-size: 3em;
    }

}

@media(min-width: 1023px) {
    .container {
        width: 500px;
    }
}