.header {
    display: flex;
    justify-content: space-between;
    background-color: #ddffe6;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    margin-bottom: 1em;
}

.logo img {
    width: 42px;
}


@media (min-width: 1023px) {
    .header {
        padding: 2em 3em;
    }

    .navigation {
        display: flex;
        gap: 1em;
    }
}