.header {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.logo img {
    width: 42px;
}

@media(min-width: 768px) {
    .header {
        padding: 0 6em;

    }
}