.header {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1em 1em;
}

.navigation {
    display: none;
}

.logo img {
    width: 32px;
}


@media (min-width: 1023px) {
    .header {
        padding: 1em 3em;
    }

    .navigation {
        display: flex;
        gap: 1em;
    }

    .logo img {
        width: 42px;
    }
}