.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.login {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.login a {
    font-weight: 700;
    color: #4caa66;
}

.adress {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media(min-width: 769px) {
    .form {
        padding: 0;
        width: 600px;
    }
}