.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    padding: 1em;
}

@media(min-width: 769px) {
    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}