@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import 'leaflet/dist/leaflet.css';

/* Remover espaçamentos, margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

body {
  background-color: #F5F5F5;
}


.leaflet-container {
  height: 40vh;
  width: 100%;
  border-radius: 2em;
}

@media (min-width: 769px) {
  .leaflet-container {
    height: 80vh;
  }
}

@media (min-width: 1023px) {
  .leaflet-container {
    width: 100%;
    border-radius: 2em;
    height: 90vh;
  }
}

a {
  text-decoration: none;
  color: inherit;
}