@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import 'leaflet/dist/leaflet.css';

/* Remover espaçamentos, margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

body {
  background-color: #F5F5F5;
}

:root {
  height: 100vh;
}

.leaflet-container {
  height: 80vh;
  width: 50vw;
  border-radius: 2em;
}

#map {
  height: 500px;
}