.content {
    display: none;
}

@media (min-width: 769px) {
    .content {
        display: flex;
        flex-direction: column;
        padding-bottom: 3em;
    }

    .content h1 {
        font-size: 3.5em;
    }

    .content p {
        font-size: 1.2em;
    }

    .future {
        color: #4caa66;
    }
}

@media(min-width: 1023px) {
    .content {
        width: 820px;
    }

    .content p {
        max-width: 50ch;
        padding-top: 1em;
    }
}