.content {
    display: none;
}

@media (min-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .content h1 {
        font-size: 5em;
    }

    .content p {
        width: 80%;
        text-align: justify;
        font-size: 1.2em;
        margin-top: 1em;
    }

    .future {
        color: #4caa66;
    }

    .future {
        color: #4caa66;
    }
}