.adressContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;

}

@media(min-width: 769px) {
    .adressContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}